// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------
.u-bg-dark{
  background-color: $bg-dark;
}

.u-bg{
  background-color: $bg;
}

.u-object-fit-img {
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
